CompileFlags:
  Add:
    - "-std=c++17"
    - "-Wno-unknown-warning-option"
    - "-Wno-everything"
  Remove:
    - "-m*"
Diagnostics:
  UnusedIncludes: Strict
  Suppress:
    - "libc.*"
    - "LIBC.*"
    - "llvmlib.*"
    - "fuchsia.*"
  ClangTidy:
    Add:
      - "bugprone-*"
      - "performance-*"
      - "readability-*"
      - "modernize-*"
      - "cppcoreguidelines-*"
    Remove:
      - "fuchsia-*"
      - "llvmlibinc-*"
      - "libcxx-*"
      - "llvm-namespace-*"
      - "misc-unused-using-decls"
      - "readability-magic-numbers"
      - "bugprone-easily-swappable-parameters"
Index:
  Background: Build
